.started{
    background: #F0F0F5 0% 0% no-repeat padding-box;
    min-height: 100vh;
    padding: 0 50px;
}

a{
    text-decoration: none;
    color: inherit;
}

.started, html, body{
    height: 100%;
    background: #F0F0F5;
}

#topo{
    padding: 51px 0;
    display: flex;
    
    position: relative;
    display: flex;
    justify-content: space-between;
}

.corp{
    width: 195px;
    position: relative;
    display: flex;
    justify-content: space-between;
    /* background: red; */
    font-family: 'Helvetica Neue', 'Roboto', sans-serif;
    color: #707070;
}

.corp .image-logo-corporation{
    width: 32%;
}

.corp .textTitle{
    font-size: 20px;
}

.corp .text{
    font-size: 13px;
    display: block;
    float: right;
}

.fastTools{
    display: flex;
    flex-direction: row;
}

.fastTools .inputBox{
    height: 50px;
    width: 240px;
    background: #fff;
    border-radius: 30px;
    padding: 0 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.inputBox .input{
    position: relative;
    height: 50px;
    width: 80%;
}
/* 
.inputBox .input::before{
    position: absolute;
    content: '';
    right: 0;
    height: 100%; 
    width: 3px;
    background: #a1a1a1;
} */

.inputBox .input input{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
}
.inputBox .input input:focus ~ span{
    opacity: 0;
    visibility: hidden;
}

.inputBox .input span{
    position: absolute;
    /* background: red; */
    color: #ACACAC;
    line-height: 50px;
    padding: 0 20px;
    width: 100%;
    font-weight: 500;
    z-index: 1;
    letter-spacing: .5px;
    pointer-events: none;
    transition: .4s;
    opacity: 1;
    visibility: visible;
}

.iconSearch{
    width: 20%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1.5px solid #ddd;
    margin: auto;
    padding-left: 20px;
    font-size: 20px;
    color: #A5A5A5;
    cursor: pointer;
}

.config{
    margin: 0 50px;
    margin-right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
}

.setting{
    width: 60px;
    display: flex;
    justify-content: space-between;
    color: #656565;
}

.settingIcon{
    cursor: pointer;
    font-size: 18px;
}

.profile img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
    position: relative;
    cursor: pointer;
}


#street{
    min-height: 75vh;
    margin: 50px 0;
    display: grid;
    grid-template-columns: 260px auto;
    gap: 50px;
}

#street div.infoBoxVideo, #street div.boxVideo{
    background: #fff;
    height: 100%;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.055);
}

#street div.infoBoxVideo{
    background: url('./assets/banner-lateral@2x.png') no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    position: relative;
}

#street div.infoBoxVideo .contentInfoBoxVideo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: #fff;
}

.contentInfoBoxVideo span{
    font-weight: 900;
    font-size: 25px;
    margin-left: 7px;
}

#street div.boxVideo{
    padding: 30px;
}

.boxVideo h3{
    font-weight: 500;
    font-size: 22px;
    color: #646464;
}
.boxVideo h3 span{
    font-size: 18px;
    font-weight: 400;
}

.videos-started{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.videos-started div.gridVideos{
    /* background: red; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

div.gridVideos .box-video{
    width: 175px;
    height: 175px;
    /* background: blue; */
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.103);
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

div.box-video .image-video{
    width: 100%;
    height: 65%;
}

#woman-teacher{
    background: url('./assets/woman-teacher.png');
    background-size: cover;
    /* background-position: 50% 50%; */
    border-radius: 13px 13px 0 0;
}

#art-man{
    background: url('./assets/art-man.png');
    background-size: cover;
    border-radius: 13px 13px 0 0;
}

#ead{
    background: url('./assets/ead-group.png');
    background-size: cover;
    border-radius: 13px 13px 0 0;
}

#distance{
    background: url('./assets/ensino-distance.png');
    background-size: cover;
    border-radius: 13px 13px 0 0;
}

div.box-video .legendVideo{
    width: 100%;
    height: 35%;
    background: #fff;
    padding: 10px 10px;
    font-size: 14px;
    color: #646464;
}

div#progress{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

#progress .historyColor{
    background: blue;
    height: 50px;
    position: absolute;
}

#progress .checkVideo{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    /* background: red; */
    height: 50px;
    width: 100%;
    /* background: transparent; */
}

.circle{
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background: #D9D9D9;
}
.circle-hidden{
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background: transparent;
}

#progress .checkVideo .boxCheck{
    /* background: blue; */
    display: flex; 
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 20px;
    /* background: green; */
    color: #D9D9D9;
}

/* #progress .checkVideo .boxCheck .iconCheck{
} */